---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About Efficiency Era" useBackground={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Efficiency Era</Fragment>
      <Fragment slot="desc">Revolutionizing Businesses with AI Automation.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Transforming Your Business with Intelligent Solutions.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Efficiency Era is not just a service provider; we're your business partner. With tailored AI solutions, we empower operations from customer support to workflow management, crafting tools that truly understand and elevate your business.
      </p>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-12">
      <h2 class="font-bold text-3xl text-gray-800">
        Our Services
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        From 24/7 client support chatbots to AI-driven workflow automations, Efficiency Era offers customized solutions designed to meet the unique requirements of various industries. Utilize smart tools like ChatGPT for tasks such as summarizing data, responding to payments, and preparing contracts.
      </p>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-12">
      <h2 class="font-bold text-3xl text-gray-800">
        Strategic Partnership
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We're committed to building a relationship that goes beyond mere service provision. Our experience in fintech, crypto startups, design agencies, and more ensures that we understand your business and can create solutions that truly make a difference.
      </p>
    </div>
  </Container>
</Layout>
