---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import logo from "../../assets/EfficiencyEraLogo.svg";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [

  {
    title: "Solutions",
    path: "/solutions",
    children: [
      { title: "Call Center", path: "/solutions/callcenter" },
      { title: "Knowledge Link", path: "/solutions/knowledgelink" },
      { title: "Integrations", path: "/solutions/integrations" },
    ],
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="" aria-label="Efficiency Era homepage">
          <svg
            width="240"
            height="50"
            viewBox="0 0 136 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M26.88 24C26.8267 24 26.8 23.9667 26.8 23.9L26.82 10.16C26.82 10.1067 26.8467 10.08 26.9 10.08H33.32C33.3733 10.08 33.4 10.1133 33.4 10.18V12.42C33.4 12.4733 33.3733 12.5 33.32 12.5H29.22V15.62H33.32C33.3733 15.62 33.4 15.6467 33.4 15.7L33.42 17.96C33.42 18.0133 33.3933 18.04 33.34 18.04H29.22V21.54H33.34C33.3933 21.54 33.42 21.5733 33.42 21.64V23.92C33.42 23.9733 33.3933 24 33.34 24H26.88Z"
              fill="black"></path>
            <path
              d="M35.2984 24C35.2318 24 35.1984 23.9667 35.1984 23.9L35.2384 10.16C35.2384 10.1067 35.2651 10.08 35.3184 10.08H41.7184C41.7851 10.08 41.8184 10.1067 41.8184 10.16V12.42C41.8184 12.4733 41.7918 12.5 41.7384 12.5H37.6384V15.6H41.7384C41.7918 15.6 41.8184 15.6333 41.8184 15.7L41.8384 17.96C41.8384 18.0133 41.8051 18.04 41.7384 18.04H37.6384V23.9C37.6384 23.9667 37.6051 24 37.5384 24H35.2984Z"
              fill="black"></path>
            <path
              d="M43.9117 24C43.8451 24 43.8117 23.9667 43.8117 23.9L43.8517 10.16C43.8517 10.1067 43.8784 10.08 43.9317 10.08H50.3317C50.3984 10.08 50.4317 10.1067 50.4317 10.16V12.42C50.4317 12.4733 50.4051 12.5 50.3517 12.5H46.2517V15.6H50.3517C50.4051 15.6 50.4317 15.6333 50.4317 15.7L50.4517 17.96C50.4517 18.0133 50.4184 18.04 50.3517 18.04H46.2517V23.9C46.2517 23.9667 46.2184 24 46.1517 24H43.9117ZM52.5317 24C52.4651 24 52.4317 23.9667 52.4317 23.9L52.4517 10.16C52.4517 10.1067 52.4784 10.08 52.5317 10.08H54.7717C54.8251 10.08 54.8517 10.1067 54.8517 10.16L54.8717 23.9C54.8717 23.9667 54.8451 24 54.7917 24H52.5317Z"
              fill="black"></path>
            <path
              d="M60.3042 24.2C59.5709 24.2 58.9042 24.02 58.3042 23.66C57.7176 23.2867 57.2509 22.7933 56.9042 22.18C56.5576 21.5667 56.3842 20.88 56.3842 20.12L56.4042 13.88C56.4042 13.1467 56.5709 12.48 56.9042 11.88C57.2509 11.2667 57.7176 10.78 58.3042 10.42C58.9042 10.0467 59.5709 9.86 60.3042 9.86C61.0376 9.86 61.6976 10.04 62.2842 10.4C62.8709 10.76 63.3376 11.2467 63.6842 11.86C64.0309 12.46 64.2042 13.1333 64.2042 13.88V14.8C64.2042 14.8533 64.1776 14.88 64.1242 14.88H61.8842C61.8309 14.88 61.8042 14.8533 61.8042 14.8V13.88C61.8042 13.44 61.6576 13.06 61.3642 12.74C61.0842 12.42 60.7309 12.26 60.3042 12.26C59.8242 12.26 59.4576 12.4267 59.2042 12.76C58.9509 13.08 58.8242 13.4533 58.8242 13.88V20.12C58.8242 20.6133 58.9642 21.0133 59.2442 21.32C59.5376 21.6267 59.8909 21.78 60.3042 21.78C60.7309 21.78 61.0842 21.6133 61.3642 21.28C61.6576 20.9333 61.8042 20.5467 61.8042 20.12V19.2C61.8042 19.1467 61.8309 19.12 61.8842 19.12H64.1442C64.1976 19.12 64.2242 19.1467 64.2242 19.2V20.12C64.2242 20.88 64.0442 21.5667 63.6842 22.18C63.3376 22.7933 62.8709 23.2867 62.2842 23.66C61.6976 24.02 61.0376 24.2 60.3042 24.2Z"
              fill="black"></path>
            <path
              d="M65.7867 24C65.7201 24 65.6867 23.9667 65.6867 23.9L65.7067 10.16C65.7067 10.1067 65.7334 10.08 65.7867 10.08H68.0267C68.0801 10.08 68.1067 10.1067 68.1067 10.16L68.1267 23.9C68.1267 23.9667 68.1001 24 68.0467 24H65.7867Z"
              fill="black"></path>
            <path
              d="M69.9659 24C69.9126 24 69.8859 23.9667 69.8859 23.9L69.9059 10.16C69.9059 10.1067 69.9326 10.08 69.9859 10.08H76.4059C76.4593 10.08 76.4859 10.1133 76.4859 10.18V12.42C76.4859 12.4733 76.4593 12.5 76.4059 12.5H72.3059V15.62H76.4059C76.4593 15.62 76.4859 15.6467 76.4859 15.7L76.5059 17.96C76.5059 18.0133 76.4793 18.04 76.4259 18.04H72.3059V21.54H76.4259C76.4793 21.54 76.5059 21.5733 76.5059 21.64V23.92C76.5059 23.9733 76.4793 24 76.4259 24H69.9659Z"
              fill="black"></path>
            <path
              d="M78.4644 24C78.3577 24 78.3044 23.9533 78.3044 23.86L78.2844 10.24C78.2844 10.1333 78.3377 10.08 78.4444 10.08H80.2444L83.6244 17.96L83.5244 10.24C83.5244 10.1333 83.5844 10.08 83.7044 10.08H85.6844C85.7644 10.08 85.8044 10.1333 85.8044 10.24L85.8244 23.88C85.8244 23.96 85.791 24 85.7244 24H83.9644L80.5044 16.64L80.6444 23.84C80.6444 23.9467 80.5844 24 80.4644 24H78.4644Z"
              fill="black"></path>
            <path
              d="M91.2417 24.2C90.5084 24.2 89.8417 24.02 89.2417 23.66C88.6551 23.2867 88.1884 22.7933 87.8417 22.18C87.4951 21.5667 87.3217 20.88 87.3217 20.12L87.3417 13.88C87.3417 13.1467 87.5084 12.48 87.8417 11.88C88.1884 11.2667 88.6551 10.78 89.2417 10.42C89.8417 10.0467 90.5084 9.86 91.2417 9.86C91.9751 9.86 92.6351 10.04 93.2217 10.4C93.8084 10.76 94.2751 11.2467 94.6217 11.86C94.9684 12.46 95.1417 13.1333 95.1417 13.88V14.8C95.1417 14.8533 95.1151 14.88 95.0617 14.88H92.8217C92.7684 14.88 92.7417 14.8533 92.7417 14.8V13.88C92.7417 13.44 92.5951 13.06 92.3017 12.74C92.0217 12.42 91.6684 12.26 91.2417 12.26C90.7617 12.26 90.395 12.4267 90.1417 12.76C89.8884 13.08 89.7617 13.4533 89.7617 13.88V20.12C89.7617 20.6133 89.9017 21.0133 90.1817 21.32C90.4751 21.6267 90.8284 21.78 91.2417 21.78C91.6684 21.78 92.0217 21.6133 92.3017 21.28C92.5951 20.9333 92.7417 20.5467 92.7417 20.12V19.2C92.7417 19.1467 92.7684 19.12 92.8217 19.12H95.0817C95.1351 19.12 95.1617 19.1467 95.1617 19.2V20.12C95.1617 20.88 94.9817 21.5667 94.6217 22.18C94.2751 22.7933 93.8084 23.2867 93.2217 23.66C92.6351 24.02 91.9751 24.2 91.2417 24.2Z"
              fill="black"></path>
            <path
              d="M98.1717 24C98.1317 24 98.1117 23.9733 98.1117 23.92L98.1317 18.24L95.4517 10.16C95.4384 10.1067 95.4584 10.08 95.5117 10.08H97.7317C97.7984 10.08 97.8384 10.1067 97.8517 10.16L99.3317 15.54L100.832 10.16C100.845 10.1067 100.878 10.08 100.932 10.08H103.172C103.225 10.08 103.245 10.1067 103.232 10.16L100.532 18.16L100.552 23.92C100.552 23.9733 100.525 24 100.472 24H98.1717Z"
              fill="black"></path>
            <path
              d="M110.357 24C110.303 24 110.277 23.9667 110.277 23.9L110.297 10.16C110.297 10.1067 110.323 10.08 110.377 10.08H116.797C116.85 10.08 116.877 10.1133 116.877 10.18V12.42C116.877 12.4733 116.85 12.5 116.797 12.5H112.697V15.62H116.797C116.85 15.62 116.877 15.6467 116.877 15.7L116.897 17.96C116.897 18.0133 116.87 18.04 116.817 18.04H112.697V21.54H116.817C116.87 21.54 116.897 21.5733 116.897 21.64V23.92C116.897 23.9733 116.87 24 116.817 24H110.357Z"
              fill="black"></path>
            <path
              d="M118.755 24C118.702 24 118.675 23.9667 118.675 23.9L118.715 10.16C118.715 10.1067 118.742 10.08 118.795 10.08H122.835C123.555 10.08 124.215 10.26 124.815 10.62C125.428 10.9667 125.915 11.44 126.275 12.04C126.635 12.6267 126.815 13.2933 126.815 14.04C126.815 14.5333 126.742 14.98 126.595 15.38C126.448 15.7667 126.275 16.1 126.075 16.38C125.875 16.6467 125.695 16.8467 125.535 16.98C126.255 17.78 126.615 18.72 126.615 19.8L126.635 23.9C126.635 23.9667 126.602 24 126.535 24H124.275C124.222 24 124.195 23.98 124.195 23.94V19.8C124.195 19.32 124.022 18.9067 123.675 18.56C123.342 18.2 122.928 18.02 122.435 18.02H121.115L121.095 23.9C121.095 23.9667 121.068 24 121.015 24H118.755ZM121.115 15.62H122.835C123.248 15.62 123.615 15.4667 123.935 15.16C124.255 14.8533 124.415 14.48 124.415 14.04C124.415 13.6133 124.255 13.2467 123.935 12.94C123.628 12.6333 123.262 12.48 122.835 12.48H121.115V15.62Z"
              fill="black"></path>
            <path
              d="M127.643 23.9L130.123 10.16C130.137 10.1067 130.17 10.08 130.223 10.08H133.123C133.177 10.08 133.21 10.1067 133.223 10.16L135.603 23.9C135.617 23.9667 135.59 24 135.523 24H133.303C133.25 24 133.217 23.9667 133.203 23.9L132.983 22.44H130.263L130.043 23.9C130.03 23.9667 129.997 24 129.943 24H127.723C127.67 24 127.643 23.9667 127.643 23.9ZM130.663 20.3H132.583L131.763 14.68L131.643 13.94L131.563 14.68L130.663 20.3Z"
              fill="black"></path>
            <path
              d="M24.286 8.69882L22.8876 11.1335C22.0342 10.7685 21.1239 10.5129 20.1721 10.387V7.57419H17.4493V10.3851C16.5224 10.5056 15.6337 10.7477 14.7989 11.0944L13.4243 8.69876L11.5994 9.72525L10.8464 8.67123C11.0948 8.32606 11.2909 7.93763 11.4211 7.51574L14.1683 7.21511L13.8978 4.46542L11.2691 4.72531C11.0638 4.25383 10.7697 3.82559 10.4045 3.465L11.4545 1.1196L8.95264 0L7.91278 2.32268C7.37973 2.27852 6.85906 2.34205 6.3738 2.49602L4.90685 0.442471L2.67566 2.07244L4.18551 4.18632C3.93153 4.58935 3.74608 5.0438 3.64751 5.53614L0.995117 5.82636L1.26561 8.57593L4.06863 8.26919C4.26695 8.6279 4.51938 8.955 4.81657 9.23824L3.6307 11.8869L6.13252 13.0064L7.32806 10.336C7.73979 10.3628 8.14356 10.3257 8.52859 10.2323L10.2564 12.5991L11.864 11.4247L12.4556 12.4462C11.7102 13.0155 11.0431 13.6822 10.4729 14.4273L7.97856 12.9903L6.67633 15.3579L9.11444 16.7743C8.75633 17.6322 8.50801 18.5471 8.38756 19.5014H5.5516V22.2242H8.39961C8.48382 22.8348 8.62176 23.4272 8.80714 24H17.3883C16.1758 23.455 15.331 22.2376 15.331 20.822C15.331 18.898 16.8907 17.3385 18.8146 17.3385C20.7384 17.3385 22.2981 18.898 22.2981 20.822C22.2981 22.2375 21.4533 23.455 20.2408 24H24.8779V9.02439L24.286 8.69882ZM7.72418 8.72851C6.49392 8.80363 5.43564 7.86737 5.36056 6.63714C5.28549 5.40691 6.22208 4.34875 7.45231 4.27365C8.68255 4.19855 9.74091 5.13504 9.81593 6.3652C9.89106 7.59543 8.95447 8.65344 7.72418 8.72851Z"
              fill="black"></path>
          </svg>
        </a>

        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="/contact" size="md">Get a Free Quote</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        
        <Link href="/contact" size="md">Get a Free Quote</Link>
      </div>
    </div>
  </header>
</Container>
