---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Customer Support Chatbots",
    description:
      "24/7 client support chatbots trained on custom knowledge, providing efficient support and freeing up human agents for other tasks.",
    icon: "bx:bxs-message",
  },
  {
    title: "Workflow Automations",
    description:
      "Reduce human errors and save time with AI-driven workflow automations, including onboarding, data extraction, and CRM updates.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Customized Solutions",
    description:
      "From rental real estate to startups, our tailored AI solutions are designed to meet the unique requirements of various industries.",
    icon: "bx:bxs-customize",
  },
  {
    title: "Experienced Team",
    description:
      "With over 30 years of experience in fintech, crypto startups, design agencies, and more, our team of tech experts is ready to help.",
    icon: "bx:bxs-group",
  },
  {
    title: "Strategic Partnership",
    description:
      "We're not just a service provider; we're your business partner. We build tools that truly understand and elevate your business.",
    icon: "ic:round-handshake",
  },
  {
    title: "AI-Driven Efficiency",
    description:
      "Utilize smart tools like ChatGPT for tasks such as summarizing data, responding to payments, and preparing contracts.",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    AI Automation Agency - Transform Your Business
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Empower your operations with intelligent automations. From customer support to workflow management, our solutions are crafted to streamline your business processes.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
