---
import { Image } from 'astro:assets';
import heroImage from "../assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={heroImage} 
      alt="Efficiency Era's automation solutions"
      width={600}
      height={450}
      loading="eager"
      format="avif"
      class="w-full"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-staatliches lg:tracking-tight xl:tracking-tighter">
      Efficiency Era: Revolutionize Your Business
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Efficiency Era offers AI-driven automation solutions for your business, elevating productivity and creating a new wave of efficiency. Our tailored services power your growth, freeing your team to focus on what matters most.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/solutions" 
        class="flex gap-1 items-center justify-center">
        Explore Our Solutions
      </Link>
      <Link
        size="lg"
        style="outline"
        href="/contact" 
        class="flex gap-1 items-center justify-center">
        Contact Us
      </Link>
    </div>
  </div>
</main>
