---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Technologies We Utilize</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="fontisto:aws" />
    <Icon class="h-8 md:h-14 saturate-0 brightness-0" name="twemoji:llama" />
    <Icon class="h-8 md:h-16" name="logos:openai-icon" />
    <Icon class="h-8 md:h-12 saturate-0 brightness-0" name="logos:zapier" />
    <Icon class="h-8 md:h-12" name="emojione-monotone:hugging-face" />
    <Icon class="h-8 md:h-12 saturate-0 brightness-0" name="logos:python" />
  </div>
</div>
