---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Efficiency Era"
  : "Efficiency Era - Revolutionize Your Business with AI Automation";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQ2752DBQF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SQ2752DBQF');
  </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
    title={makeTitle || "Efficiency Era - Unleashing Efficiency with Intelligent AI Automations"}
    description="Efficiency Era offers AI-driven automation solutions for businesses in all industries, elevating productivity and creating massive gains in efficiency."
    canonical={canonicalURL}
    keywords="AI Automation, Workflow Automation, Intelligent Automation, Business Efficiency, Toronto AI Agency, Process Automation, Robotic Process Automation (RPA), AI-Driven Business Transformation, AI Technology Solutions, AI-Powered Workflow Management"
    locale="en_CA" // English, Canada
    author="Efficiency Era" // If applicable
    geo={{
      region: "ON", // Ontario
      country: "Canada",
      placename: "Toronto",
    }}
    twitter={{
      creator: "@EfficiencyEra",
      site: "@EfficiencyEra",
      card: "summary_large_image",
    }}
    openGraph={{
      basic: {
        url: canonicalURL,
        type: "website",
        title: `Efficiency Era - Unleashing Efficiency with Intelligent AI Automations`,
        image: resolvedImageWithDomain || defaultImageURL,
      },
      image: {
        alt: "Efficiency Era - Transforming Businesses with AI Automation",
      },
    }}
  />
  
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
