---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import SimpleNavbar from "@components/navbar/simple-navbar.astro";
import { BackgroundLayout } from "@components/ui/background-layout";
import "@fontsource-variable/inter/index.css";
import "@fontsource/staatliches/400.css";
import "../assets/logo-animation.css";
import "../styles/globals.css";

export interface Props {
  title: string;
  simpleNav?: boolean;
  useBackground?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const defaultImageURL = '/opengraph.jpg';

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Efficiency Era"
  : "Efficiency Era - Revolutionize Your Business with AI Automation";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script type="module" async src="https://www.googletagmanager.com/gtag/js?id=G-SQ2752DBQF"></script>
    <script type="module">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-SQ2752DBQF');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle || "Efficiency Era - Unleashing Efficiency with Intelligent AI Automations"}
      description="Efficiency Era offers AI-driven automation solutions for businesses in all industries, elevating productivity and creating massive gains in efficiency."
      canonical={canonicalURL}
      twitter={{
        creator: "@EfficiencyEra",
        site: "@EfficiencyEra",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Efficiency Era - Unleashing Efficiency with Intelligent AI Automations`,
          image: resolvedImageWithDomain || defaultImageURL,
        },
        optional: {
          locale: "en_CA",
          siteName: "Efficiency Era",
        },
        image: {
          alt: "Efficiency Era - Transforming Businesses with AI Automation",
        },
      }}
    />
  </head>
  <body class="min-h-screen">
    {
      Astro.props.useBackground ? (
        <BackgroundLayout client:load>
          {Astro.props.simpleNav ? <SimpleNavbar /> : <Navbar />}
          <slot />
          <Footer />
        </BackgroundLayout>
      ) : (
        <>
          {Astro.props.simpleNav ? <SimpleNavbar /> : <Navbar />}
          <slot />
          <Footer />
        </>
      )
    }
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
